@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $body-bg;
}

.logo {
  width: 120px;
  border-radius: $circle;
}

.logo-nav {
  width: 80px;
}

.card-signUp {
  background-color: $tertiary;
}

.nav-list ul {
  margin-bottom: 0px;
}

.nav-list-item {
  text-decoration: none;
  list-style: none;
  color: white;
}

.search-form {
  position: relative;
}

.magnifying-glass {
  position: absolute;
  right: 15px;
  align-self: center;
}

.btn {
  background-color: $btn-g;
}

.post-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.fa-solid {
  font-size: 1.5rem;
}

.post {
  text-decoration: none;
}

.post p {
  text-align: left;
}

.post-title {
  text-transform: uppercase;
  margin: auto;
}

.img-profile {
  border-radius: $circle;
}

.main-img {
  width: 300px;
  max-height: 300px;
}

.bg-profile {
  background: center / cover no-repeat url(/images/bg-profile.jpg);
}

.card-follow {
  background-color: $btn-g;
}

.quote-container {
  background-color: $tertiary;
}

.card-form {
  background-color: white;
}

.form-control {
  background-color: white;
}

.form-floating {
  position: inherit;
}

.form-floating label {
  position: inherit;
  padding-bottom: 0px;
  font-weight: bold;
}

.invalid-feedback {
  display: none;
}

input:invalid + .invalid-feedback {
  display: block;
}

.form-control:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.postImg {
  max-height: 450px;
  width: 700px;
}

.input-feedback {
  color: #686666;
  font-size: 0.8em;
}

//PROFILE PAGE
#posts-container {
  margin: auto;
}


#update-avatar-container {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
}

#update-avatar-container span {
  font-size: 5em;
  font-weight: bolder;
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 100;
  color: white;
  cursor: pointer;
}

#update-avatar-container label {
  font-size: 2em;
  color: white;
}

#update-avatar-container input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup-image-avatar {
  max-width: 260px;
  border-radius: 130%;
}

.popup-avatar {
  padding-right: 10px;
}



//HOME PAGE

#home-container {
  height: 100vh;
}

#logo-home {
  width: 28%;
}

.home-page-container {
  background-color: #F24130;
}

.btn-home {
  height: 60px;
  width: 180px;
  font-size: 1.2em;
  font-weight: bold;
}

.title-home {
  text-transform: uppercase;
  font-weight: bold;
}

.home-buttons button:hover {
 background-color: $body-bg;
}

.btn-register:hover,
.btn-login:hover {
  background-color: $body-bg;
}

.login-btn-container,
.singUp-btn-container {
  margin: auto;
}

//FEED PAGE
#quote-container,
#user-info-card {
  padding-top: 30px;
}

//POST DETAILS

#posts-container {
  margin: auto;
}

//NEW POST PAGE

.new-post-container h2 {
  text-align: center;
}

#new-post-container {
  padding: 0 50px;
}

.new-post-media {
  max-height: 650px;
}

@media(max-width: 799px) { 

  //HOME PAGE
  .btn-home {
    height: 45px;
    width: 120px;
    font-size: 1em;
  }

  #logo-home {
    width: 60%;
}
}

