@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $body-bg;
}

.logo {
  width: 120px;
  border-radius: $circle;
}

.logo-nav {
  width: 80px;
}

.card-signUp {
  background-color: $tertiary;
}

.btn {
  background-color: $btn-g;
}

.post-img {
  max-width: 60px;
  border-radius: $circle;
}

.fa-solid {
  font-size: 1.5rem;
}

.post-title {
  text-transform: uppercase;
}

.img-profile {
  border-radius: $circle;
}

.main-img {
  max-width: 300px;
}

.bg-profile {
  background: center / cover no-repeat url(/images/bg-profile.jpg);
}

.card-follow {
  background-color: $btn-g;
}

.quote-container {
  background-color: $tertiary;
}

.card-form {
  background-color: white;
}

.form-control {
  background-color: white;
}

.invalid-feedback {
  display: none;
}

input:invalid + .invalid-feedback {
  display: block;
}

.form-control:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.postImg {
  max-height: 450px;
  width: 700px;
}

.input-feedback {
  color: #686666;
  font-size: 0.8em;
}


//HOME PAGE

#home-container {
  height: 100vh;
}

#logo-home {
  width: 28%;
}

.home-page-container {
  background-color: #F24130;
}

.btn-home {
  height: 60px;
  width: 180px;
  font-size: 1.2em;
  font-weight: bold;
}

.title-home {
  text-transform: uppercase;
  font-weight: bold;
}

.home-buttons button:hover {
 background-color: $body-bg;
}

.btn-register:hover,
.btn-login:hover {
  background-color: $body-bg;
}

.login-btn-container,
.singUp-btn-container {
  margin: auto;
}


@media(max-width: 799px) { 

  //HOME PAGE
  .btn-home {
    height: 45px;
    width: 120px;
    font-size: 1em;
  }

  #logo-home {
    width: 60%;
}
}

